<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-72@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon@2x.png</string>
		<string>Icon.png</string>
		<string>Icon-60@2x.png</string>
		<string>Icon-76.png</string>
		<string>Icon-76@2x.png</string>
		<string>Default.png</string>
		<string>Default@2x.png</string>
		<string>Default-568h@2x.png</string>
		<string>Default-Landscape~ipad.png</string>
		<string>Default-Landscape@2x~ipad.png</string>
		<string>Default-Portrait~ipad.png</string>
		<string>Default-Portrait@2x~ipad.png</string>
		<string>Icon-Small-50@2x.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small-40.png</string>
		<string>Icon-Small-40@2x.png</string>
		<string>Icon-Small.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>app.web</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>MinimumOSVersion</key>
	<string>5.2</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>AppWeb</string>
	<key>NSMainNibFile</key>
	<string></string>
	<key>NSMainNibFile~ipad</key>
	<string></string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Arshu Portable App Archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.arshu.pap</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pap</string>
					<string>PAP</string>
				</array>
			</dict>
			<key>UTTypeSize64IconFile</key>
			<string>Icon</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon-72@2x</string>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Arshu Portable App</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.arshu.pap</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
